In [52]:
import pandas as pd
train = pd.read_csv(r'C:\Users\modys\OneDrive\Desktop\Titanic ML-Course\titanic\train.csv')
test = pd.read_csv(r'C:\Users\modys\OneDrive\Desktop\Titanic ML-Course\titanic\test.csv')

# familarize ourselves with the Data

In [53]:
print("train shape:", train.shape)
print("test shape:",  test.shape)
print("\ntrain columns:", train.columns.tolist())
print("\ntest columns:", test.columns.tolist())

train shape: (891, 12)
test shape: (418, 11)

train columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

test columns: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [54]:
display(train.head(5))            # first 5 rows
print("\nMissing values (train):")
print(train.isna().sum().sort_values(ascending=False).head(12))

print("\nMissing values (test):")
print(test.isna().sum().sort_values(ascending=False).head(12))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Missing values (train):
Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

Missing values (test):
Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Embarked         0
dtype: int64

In [55]:
train = train.drop(columns=['Cabin'])  # 'Cabin' has too many missing values
test = test.drop(columns=['Cabin'])

In [56]:
train['Age'].fillna(train['Age'].median(), inplace=True) # fill missing ages with median
test['Age'].fillna(test['Age'].median(), inplace=True)
test['Fare'].fillna(test['Fare'].median(), inplace=True) # fill missing fares with median

In [57]:
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True) # fill missing embarked with mode
test['Embarked'].fillna(test['Embarked'].mode()[0], inplace=True)

In [58]:
print("Missing values (train):")
print(train.isna().sum())

print("\nMissing values (test):")
print(test.isna().sum())

Missing values (train):
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Missing values (test):
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

# till now we have cleaned the data and no missing values

In [59]:
train['Sex'] = train['Sex'].map({'male': 0, 'female': 1}) # convert to numerical values
test['Sex'] = test['Sex'].map({'male': 0, 'female': 1})

In [60]:
train = pd.get_dummies(train, columns=['Embarked'], drop_first=True) # convert categorical 'Embarked' to numerical
test = pd.get_dummies(test, columns=['Embarked'], drop_first=True) # the get_dummies function creates new columns for each category

In [61]:
print("Train columns:", train.columns.tolist())
print("Test columns:", test.columns.tolist())

Train columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked_Q', 'Embarked_S']
Test columns: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked_Q', 'Embarked_S']

-

In [62]:
from sklearn.model_selection import train_test_split

X = train.drop(columns=['Survived', 'Name', 'Ticket', 'PassengerId'])
y = train['Survived']

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (891, 8)
y shape: (891,)

In [63]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Training set:", X_train.shape, y_train.shape)
print("Validation set:", X_val.shape, y_val.shape)

Training set: (712, 8) (712,)
Validation set: (179, 8) (179,)

In [64]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000) 
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [65]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_val)
print("Validation Accuracy:", accuracy_score(y_val, y_pred))

Validation Accuracy: 0.8100558659217877

# here is the other classifier i chose decision tree

In [66]:
""" from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_val)
 """

' from sklearn.tree import DecisionTreeClassifier\nfrom sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix\nmodel = DecisionTreeClassifier(random_state=42)\nmodel.fit(X_train, y_train)\ny_pred = model.predict(X_val)\n '

In [67]:
""" print("Decision Tree Accuracy :", accuracy_score(y_val, y_pred))
print("Decision Tree Precision:", precision_score(y_val, y_pred, pos_label=1))
print("Decision Tree Recall   :", recall_score(y_val, y_pred, pos_label=1))
print("Confusion Matrix:\n", confusion_matrix(y_val, y_pred)) """

' print("Decision Tree Accuracy :", accuracy_score(y_val, y_pred))\nprint("Decision Tree Precision:", precision_score(y_val, y_pred, pos_label=1))\nprint("Decision Tree Recall   :", recall_score(y_val, y_pred, pos_label=1))\nprint("Confusion Matrix:\n", confusion_matrix(y_val, y_pred)) '

# the above cells are commented because logistic regression gives more accurate results predicting the survivors so i chose to implement logistic regression

In [68]:


X_test = test.drop(columns=['Name', 'Ticket', 'PassengerId'])


test_preds = model.predict(X_test)


submission = pd.DataFrame({
    'PassengerId': test['PassengerId'],
    'Survived': test_preds
})
submission.to_csv('submission2.csv', index=False)